*{
    padding: 0px;
    margin: 0px;
}

nav {
  background-color: #f1f1f1;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: #333;
  text-decoration: none;
}

#main{
    text-align: center;
    margin: 2rem;
}